.home{
    background-color:black ;
    padding-top: 15px;
    height: 100%;
}

.intro{
    vertical-align: text-bottom;
    margin: 30px;
    opacity: 0.8;
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.intro p{
    font-weight: bold;
    color: white;
}

.intro h3{
    font-weight: bold;
    color: white;
}

.intro span {
    color: #6DDCBD;
}

.pdf {
    text-align: center;
}

.intro button{
    color: #6DDCBD;
}

#aboutbody {
    padding: .25px
}

