{% extends "portfolioApp/base.html" %}
{% block body %}
{# project section #}
<div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">Experience & Projects</h2>
        <p class="w3-opacity w3-center"><i>"The proof is in the pudding"</i></p><br>

        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Expense Tracker Project</b></p>
                    <p><b>Using Django</b></p>
                    <p class="w3-opacity">October 2018</p>
                    <p>Expense Tracker Website that allows users to create an account, sign in, and track all deposits and withdrawls from checkings and savings.</p>
                    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View</button>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Blog Site</b></p>
                    <p><b>Using MERN</b></p>
                    <p class="w3-opacity">November 2018</p>
                    <p>Journal/Blog Site that displays entries and allows users to enter journal entries and display them on the home page. Entries include: Title, author, entry, & date.</p>
                    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View</button>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <div class="w3-container w3-white">
                    <p><b>Tic Tac Toe - Team Project</b></p>
                    <p><b>JavaScript & HTML</b></p>
                    <p class="w3-opacity">August 2018</p>
                    <p>2 player Tic Tac Toe Game that allows users to input their names and play Tic Tac Toe. Alerts winner or tie when the game is complete.</p>
                    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View</button>
                </div>
            </div>
        </div>
    </div>
</div>

{# Project On-Click #}
<div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
            <h2 class="w3-wide"><i class="w3-margin-right"></i>Project</h2>
        </header>
        <div class="w3-container">
        </div>
    </div>
</div>

<div id="ticketModal1" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('ticketModal').style.display='none'"
                  class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
            <h2 class="w3-wide"><i class="w3-margin-right"></i>Project</h2>
        </header>
        <div class="w3-container">
        </div>
    </div>
</div>

<div id="ticketModal2" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
            <span onclick="document.getElementById('ticketModal').style.display='none'"
                  class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
            <h2 class="w3-wide"><i class="w3-margin-right"></i>Project</h2>
        </header>
        <div class="w3-container">
        </div>
    </div>
</div>


{% endblock %}